<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    
<div class="navbar">
    <a href="{% url 'contacts' %}">Contact</a>
    <a href="{% url 'profile/<int:id>' %}">View Profile</a>
</div>

<div class="form-container">
    <h2>Message Template</h2>
    <form action="/submit-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="type">Type:</label>
        <select id="type" name="type">
            <option value="school">School</option>
            <option value="gym">Gym</option>
        </select>

        <label for="info">Additional Information:</label>
        <textarea id="info" name="info" rows="5" placeholder="Enter your message...."></textarea>

        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>
